{% extends 'usuarios/base.html' %}
{% block conteudo %}
{% load static %}

  

  <div id="carouselExampleAutoplaying" class="carousel slide carousel-container" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'imagem/lua.jpg' %}" class="d-block w-100 custom-image" alt="...">
        <h2  class="w3-center">IMAGENS DA LUA</h2>
      </div>
      <div class="carousel-item">
        <img src="{% static 'imagem\floresta.jpg' %}" class="d-block w-100 custom-image" alt="...">
        <h2  class="w3-center">FLORESTA VERMELHA</h2>

      </div>
      <div class="carousel-item">
        <img src="{% static 'imagem\dia.jpg' %}" class="d-block w-100 custom-image" alt="...">
        <h2  class="w3-center">UM BELO DIA</h2>

      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="Content">
    <div id="bannerL"><!-- Tag ID: lipsumcom_left_siderail -->
    <div align="center" data-freestar-ad="__300x600" id="lipsumcom_left_siderail">
      <script data-cfasync="false" type="text/javascript">
        freestar.config.enabled_slots.push({ placementName: "lipsumcom_left_siderail", slotId: "lipsumcom_left_siderail" });
      </script>
    </div></div>
    <div id="bannerR"><!-- Tag ID: lipsumcom_right_siderail -->
    <div align="center" data-freestar-ad="__300x600" id="lipsumcom_right_siderail">
      <script data-cfasync="false" type="text/javascript">
        freestar.config.enabled_slots.push({ placementName: "lipsumcom_right_siderail", slotId: "lipsumcom_right_siderail" });
      </script>
    </div></div>
    <div class="boxed"><!-- 
    
    
    If you want to use Lorem Ipsum within another program please contact us for details
    on our API rather than parse the HTML below, we have XML and JSON available.
    
    
     --><div id="lipsum">
      <div id="Content">
        <div id="bannerL"><!-- Tag ID: lipsumcom_left_siderail -->
        <div align="center" data-freestar-ad="__300x600" id="lipsumcom_left_siderail">
          <script data-cfasync="false" type="text/javascript">
            freestar.config.enabled_slots.push({ placementName: "lipsumcom_left_siderail", slotId: "lipsumcom_left_siderail" });
          </script>
        </div></div>
        <div id="bannerR"><!-- Tag ID: lipsumcom_right_siderail -->
        <div align="center" data-freestar-ad="__300x600" id="lipsumcom_right_siderail">
          <script data-cfasync="false" type="text/javascript">
            freestar.config.enabled_slots.push({ placementName: "lipsumcom_right_siderail", slotId: "lipsumcom_right_siderail" });
          </script>
        </div></div>
        <div class="boxed"><!-- 
        
        
        If you want to use Lorem Ipsum within another program please contact us for details
        on our API rather than parse the HTML below, we have XML and JSON available.
        
        
         -->
         <h1 class="w3-center">Lorem Ipsum</h1>


         <h4>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h4>

         <div id="Content">
          <div id="bannerL"><!-- Tag ID: lipsumcom_left_siderail -->
          <div align="center" data-freestar-ad="__300x600" id="lipsumcom_left_siderail">
            <script data-cfasync="false" type="text/javascript">
              freestar.config.enabled_slots.push({ placementName: "lipsumcom_left_siderail", slotId: "lipsumcom_left_siderail" });
            </script>
          </div></div>
          <div id="bannerR"><!-- Tag ID: lipsumcom_right_siderail -->
          <div align="center" data-freestar-ad="__300x600" id="lipsumcom_right_siderail">
            <script data-cfasync="false" type="text/javascript">
              freestar.config.enabled_slots.push({ placementName: "lipsumcom_right_siderail", slotId: "lipsumcom_right_siderail" });
            </script>
          </div></div>
          <div class="boxed"><!-- 
          
          
          If you want to use Lorem Ipsum within another program please contact us for details
          on our API rather than parse the HTML below, we have XML and JSON available.
          
          
           --><div id="lipsum">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget leo leo. Cras elit risus, sagittis ut purus quis, sodales tempus erat. Suspendisse sodales ornare lobortis. Phasellus sit amet porttitor urna, vitae malesuada risus. Praesent consectetur efficitur magna, eget porta sem lacinia sed. Mauris vehicula leo leo, quis tincidunt eros iaculis vel. Fusce suscipit ornare massa quis semper. In eu hendrerit nulla. Nam fermentum sagittis dignissim. Aenean fringilla tincidunt pretium.
          </p>
          <p>
          Sed mattis orci et ex blandit porta. Fusce eget mi erat. Integer hendrerit dolor eget tristique volutpat. Duis dictum ut orci non scelerisque. Cras quis porttitor nibh. Nulla facilisi. Quisque venenatis orci id convallis pulvinar. Integer gravida justo mi, at lobortis est venenatis in. Vestibulum feugiat tellus magna, non lacinia tortor pharetra eu.
          </p>
          <p>
          Sed aliquam est vitae sagittis eleifend. Proin rhoncus vehicula rutrum. Nulla tincidunt aliquet magna sit amet condimentum. Maecenas varius cursus nisl at pharetra. Sed vel nunc a ipsum congue congue eget at leo. In elementum mi ut ultrices consectetur. Donec tempor malesuada lorem, ac eleifend magna finibus in. Duis vestibulum turpis felis, sed suscipit nulla ultricies ut. Praesent ac velit non sem volutpat pretium. Quisque efficitur vehicula nunc, et posuere ipsum elementum ut. Duis ac metus et nunc accumsan tempor. Mauris eu commodo urna. Sed sollicitudin congue nulla, non eleifend massa eleifend at. Donec sit amet mauris metus. Integer gravida auctor metus, eu hendrerit leo ornare id.
          </p>
          <p>
          Curabitur rutrum, elit quis rutrum consequat, lectus urna imperdiet diam, id sollicitudin ipsum arcu et quam. Morbi eu leo turpis. Suspendisse lacinia non lectus ac venenatis. Duis a rutrum dui, pellentesque molestie odio. Duis aliquet tempus dui, ut fringilla lorem bibendum ut. Donec eget massa id elit lacinia ultricies. Nullam non porttitor diam. Donec at lacus at quam iaculis blandit ac id metus. Sed ultrices a lectus ac pulvinar.
          </p>
          <p>
          Vivamus auctor felis sit amet elit volutpat, tristique euismod tellus finibus. Morbi venenatis sapien vel lobortis volutpat. Curabitur iaculis convallis enim ac vehicula. Curabitur nec turpis maximus, venenatis justo vitae, euismod quam. Ut tempor arcu a tellus lacinia auctor. Morbi non dignissim elit, quis dapibus lectus. Sed gravida libero a quam egestas convallis. Aenean tempor ex vel feugiat gravida. Donec ante eros, euismod quis nulla eget, ullamcorper tincidunt turpis. Nullam non rutrum augue. Fusce eu lacus a nulla egestas pretium. Sed venenatis sollicitudin lorem. Mauris faucibus tortor odio, molestie accumsan mi mattis et.
          </p>
          <p>
          Etiam id luctus ex. Aenean rhoncus nunc magna, eu porta nunc lobortis a. Nulla consectetur tortor ac ipsum gravida ullamcorper. In pretium tincidunt ipsum bibendum porttitor. Curabitur porta sem et consequat varius. Nunc at viverra ante. Praesent eros diam, tristique sit amet velit eget, semper porttitor metus. Sed nec nunc pellentesque, bibendum sapien pellentesque, aliquam est. Praesent non massa vel elit fringilla luctus ut quis libero. Mauris sagittis lacus mauris, id pretium arcu tempor vitae. Aenean vehicula efficitur eros, at luctus nunc pharetra ut. Phasellus arcu elit, imperdiet at aliquet eget, accumsan a est.
          </p>
          <p>
          Curabitur interdum nisi eu metus dapibus suscipit. Maecenas volutpat lorem vel tristique accumsan. Integer faucibus sollicitudin metus, quis porta justo mattis nec. Nam molestie ex diam, sed faucibus justo consequat nec. Cras diam odio, efficitur luctus imperdiet sit amet, mollis eu purus. Duis vitae varius nunc, eu pulvinar diam. Sed lobortis sed orci in tempor. Ut tempor mi eu tortor consequat, nec sollicitudin nisi efficitur. Duis a augue ac purus viverra luctus. Nulla eu ipsum id ante varius finibus eget vitae risus. Nunc malesuada ante sapien, quis rhoncus dolor tempor eget. In tincidunt, justo eu rhoncus porttitor, ante eros lacinia arcu, semper consequat magna leo eu odio.
          </p>
          <p>
          Donec tristique justo quis arcu dignissim, eu eleifend diam placerat. Aenean in dictum mi. Nunc hendrerit nec elit at euismod. Aliquam sit amet leo eget libero ullamcorper porta. Quisque vitae tortor augue. Pellentesque eu interdum nunc. Aliquam porta enim non lectus porttitor, elementum aliquet lorem luctus. Vivamus lobortis interdum est vitae convallis. Etiam ultrices consequat fermentum.
          </p>
          <p>
          Etiam non lectus sit amet sapien commodo iaculis. Donec pulvinar auctor neque, ac tempor enim vulputate a. Sed interdum mattis lectus, a ultricies ipsum dapibus ut. Maecenas et euismod turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed varius suscipit porttitor. Mauris fermentum felis quis ipsum congue pulvinar. Praesent facilisis et dolor vehicula scelerisque. Sed dictum diam at neque consectetur maximus. Vestibulum in tincidunt ipsum.
          </p>
          <p>
          Cras rhoncus tempus efficitur. Suspendisse quis felis vel nisl feugiat sagittis ac at leo. Quisque vehicula in nulla nec volutpat. Quisque cursus semper leo vel suscipit. Duis porta, dolor a ornare fringilla, ante est dictum urna, id imperdiet odio metus ornare tortor. Donec a interdum nunc. Praesent tempus diam ac velit pellentesque tincidunt. Vestibulum ultricies velit massa, non scelerisque quam vulputate dignissim. Praesent lorem risus, iaculis eget faucibus ac, fermentum convallis felis. Fusce erat purus, viverra tempus velit in, tempus sagittis lorem.
          </p>
          <p>
          Nam convallis lobortis turpis, nec gravida tellus placerat quis. Duis eu porta risus. Sed sodales, lorem vitae porttitor ornare, turpis risus vehicula justo, facilisis aliquam odio dui vel turpis. Vivamus in ex nec magna malesuada efficitur. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec convallis lacus vel massa porttitor rutrum. Morbi eros ex, rutrum id arcu id, ultricies sodales lorem. Donec tristique elementum efficitur. Proin sed sagittis urna. Sed imperdiet elementum tincidunt. Aliquam dignissim sollicitudin dui, id suscipit neque tempus quis. Proin metus risus, maximus quis tellus at, elementum eleifend augue. Pellentesque dolor mi, sodales venenatis congue a, tincidunt at nisl. Sed augue ligula, tempor auctor risus sed, ullamcorper vulputate ex. Vivamus pretium sagittis lacinia. In lobortis tincidunt ipsum, tempus condimentum ligula.
          </p>
          <p>
          Pellentesque scelerisque ligula mi, quis rhoncus sapien fringilla nec. Etiam egestas nisl ac dolor congue convallis. Suspendisse in consectetur ex. Cras accumsan sapien a justo tristique, sed elementum ligula feugiat. Maecenas tincidunt mauris ut felis molestie, vitae rutrum velit vehicula. Cras in vehicula est. Donec ornare eget arcu ac venenatis.
          </p>
          <p>
          Ut justo felis, tincidunt quis sem ac, tristique tincidunt nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla facilisi. Aliquam blandit elementum diam. Suspendisse potenti. Praesent posuere mollis lacinia. Maecenas ac volutpat tellus, sit amet imperdiet ligula. Etiam vel vulputate sem. Morbi tortor enim, faucibus et volutpat eget, varius non lacus. Etiam enim mi, venenatis a nulla quis, faucibus dictum dolor. Suspendisse luctus, est ac tristique dapibus, felis ex semper quam, at imperdiet risus elit nec ante. Cras enim enim, mattis vitae tincidunt sit amet, sagittis fermentum enim. Ut viverra tempor augue ut posuere. Maecenas feugiat tempor lacus non facilisis. Proin viverra urna tempor ligula varius ullamcorper.
          </p>
          <p>
          Sed pulvinar sem in eros varius gravida. Nulla aliquet egestas justo. Donec tristique erat eget arcu posuere, eget vestibulum lectus sagittis. Integer nec tincidunt elit. Praesent et velit sit amet magna ullamcorper egestas. Proin volutpat dapibus vehicula. Proin pretium felis et sapien ornare, quis ultrices nibh mollis. Morbi venenatis tincidunt velit ac luctus.
          </p>
          <p>
          Praesent vitae interdum velit, vitae laoreet tortor. Etiam et mauris porttitor, ornare erat eu, gravida metus. Praesent congue ligula nisi. Duis sodales neque eu mi ultrices volutpat. Sed mollis augue sit amet sapien vehicula sollicitudin. Vivamus bibendum justo lorem, vel laoreet augue mollis at. Aliquam dictum iaculis metus id condimentum. Nunc est est, porta sit amet posuere nec, finibus in leo. Fusce elementum imperdiet velit nec mattis. Phasellus imperdiet malesuada magna, placerat finibus dolor. In euismod vulputate auctor. Aenean luctus nibh at mauris pretium facilisis. Aliquam egestas tempus orci.
          </p></div>
          </div>
          
     <br>
     <br>
{% endblock %}